# Maven
target/
!**/target/**

# Logs
*.log

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# STS / Eclipse
.classpath
.project
.settings/
.springBeans
.sts4-cache

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
